<h2>Welcome <%= current_user.username %>, here is your newsfeed</h2>

<%= form_for @post do |form| %>
	<%= form.text_field :body, placeholder: '#IWokeUpLikeDis' %>
	<%= form.file_field :image %>
	<%= form.submit %>
<% end %>